<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>NavBar_Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">

<!--    fragment are like react componnet ,it use to make block code to build the part of user interface-->
    <div th:insert="fragment/navbar.html :: navbar" id="navbar"></div>
    <br/>
    <br/>

   <div style="margin: 0 auto;width:80%;">
<!--       //topMenu-->
       <div class="btn-group" role="group" aria-label="Basic example">
           <a th:href="@{'/add'}" class="btn btn-primary">Create New</a>
           <button type="button" class="btn btn-light">Khmer</button>
           <button type="button" class="btn btn-light">Korea</button>
           <button type="button" class="btn btn-light">English</button>
       </div>
       <br/><br/>

<!--       //MyTable-->
       <table class="table">
           <thead>
           <tr>
               <th scope="col">id</th>
               <th scope="col">Title</th>
               <th scope="col">Describtion</th>
               <th scope="col">Image</th>
               <th scope="col">Action</th>
           </tr>
           </thead>

           <tbody>
           <tr th:each="arrimage : ${arrimage}">
               <th th:text="${arrimage.id}"></th>
               <td th:text="${arrimage.title}"></td>
               <td th:text="${arrimage.dis}"></td>
               <td>URL</td>
               <td>
                    <!-- how to get value from html pass to controller method-->
                   <a th:href="@{'/view/' + ${arrimage.id}}" class="btn btn-primary">View</a>
                   <a th:href="@{'/getupdate/' + ${arrimage.id}}" class="btn btn-secondary">Edit</a>
                   <a th:href="@{'/delete/' + ${arrimage.id}}" class="btn btn-danger">Delete</a>
               </td>
           </tr>
           </tbody>
       </table>
   </div>

</div>
</body>
</html>